<!--home-->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="../employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-thin fa-address-book"></i></span>
                <br>
                Add-Employee
            </a>
        </div>

        <div class="col-sm">
            <a href="/employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-thin fa-address-card"></i></span>
                <br>
                Report
            </a>
        </div>

        <div class="col-sm">
            <a href="/visitlist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-thin fa-business-time"></i></span>
                <br>
                Vists
            </a>
        </div>

    </div>
</div>
